<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>707518851728-1kk21re4mkhet0iqm7ubsnkeijuvkckr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.707518851728-1kk21re4mkhet0iqm7ubsnkeijuvkckr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>707518851728-ichj5lbkt3sl00hc3jsqr3692q1ob5sc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAxtAReB-Zxc4_QZfvA1l8R4jQCJyabjWA</string>
	<key>GCM_SENDER_ID</key>
	<string>707518851728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pluckedstudios.fullshop</string>
	<key>PROJECT_ID</key>
	<string>flutter-app-mig</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-app-mig.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:707518851728:ios:4543dd795d83c168780615</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-app-mig.firebaseio.com</string>
</dict>
</plist>